<!-- <app-intro></app-intro> -->
<!-- <app-sample></app-sample> -->
<!-- <app-example></app-example> -->
<!-- <app-redpanda></app-redpanda> -->
<!-- <app-harpseal></app-harpseal> -->
<!-- <app-parent></app-parent> -->
<!-- <app-header></app-header> -->
<!-- <app-query></app-query> -->
<!-- <app-query2></app-query2> -->
<!-- <app-places></app-places> -->
<!-- <app-event></app-event> -->
<!-- <h1>welcome to {{message}}</h1> -->

<!-- <app-test (childEvent)="message=$event" [parentData]="name"></app-test> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-data></app-data> -->
<app-query2></app-query2>
